.login{
    background-color: #f2f2f2;
    display: grid;
    place-items: center;
    height: 100vh;
}
.login__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btns{
    background-color: rgb(12, 117, 236);
    width: 200px;
    border-radius: 20px;
}
.btns:hover{
 background-color: rgba(29, 126, 236, 0.74);
}
.login__container > img{
    object-fit: contain;
    height: 200px;
}